body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: apple-chancery-webfont;
  src: url(./fonts/apple-chancery-webfont.woff);
}

.poem_hover__pink:hover {
  color: fuchsia;
}

.poem_hover__blue:hover {
  color: blue;
}
